.btn__style {
    padding: 12px 20px;
    border-radius: 5px;
}


.login {
    margin-top: 100px;
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    padding: 31px;
}

.login__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
}

.login__register {
    display: grid;
}

.login__register label {
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #444444;
}

.login__register input {
    padding: 14px;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.62px;
    text-align: left;
    color: #777777;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    outline: none;
}


.forgot__password,
.forgot__password div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot__password {
    margin: 25px 0;
}

.forgot__password label,
.btn__singup label {
    font-family: Segoe UI;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #777777;
}

.forgot__password div input {
    width: 18px;
    height: 18px;
    top: 290.75px;
    left: 31px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}


.btn__singup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}